.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:15vh;
  }
  
  .socialMedia svg {
    color: #434f00;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .footer p {
    color: #434f00;
  }