@import url("//fonts.googleapis.com/css?family=Anonymous+Pro");

.App {
  text-align: center;
  font-family: "Anonymous Pro", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.highlight {
  background-color: #c0ffee;
}

.contentbody{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y:auto;
    position: sticky;

}
.mapContainer{
  align-items: center;
  /* z-index: 999; */
  top: 0;
  display:flex;
  justify-content: center;
}

.produceContainer{
  display: flex;
  height: auto;
  position: sticky; 
}

#produceContainer{
  display: flex;
  height:60vh;
  /* position: -webkit-sticky; */
  position: sticky; 
}

/* CSS for dropdown menu */
.dropContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.dropDay{
  display: flex;
}
.dropRegion{
  display: flex;

}

.containerBox{
  overflow-y:auto;

}

.regionName{
  position: relative;
}

@media only screen and (max-width: 900px) {
.mapContainer{
  height: 55%;
}
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .dropDownContainer  {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .mapContainer{
    height: 45%;
  }
  

}

@media only screen and (min-width: 600px) {

  /* .mapContainer{
    height: 45%;
  }
   */
}